.titulo {

    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.671);
    border-radius: 10px;
    text-align: center;
    border-radius: 0%;
    border: 2px solid rgb(255, 255, 255);
}

.dados_pessoais{
    margin-top: 5px;
    padding: 28px;
    border: 4px solid rgb(185, 178, 178);
    height: 295px;
    width: 550px;
    padding-top: 0px;
    padding-left: 5px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3, h4 {
    font-family: Arial, Helvetica, sans-serif;
}

.checkbox {
    padding: 28px;
    border: 4px solid rgb(185, 178, 178);
    height: 200px;
    width: 550px;
    padding-top: 0px;
    padding-left: 5px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#serie, #ativi, #turno {
    display: inline-block;
    justify-content: center;
    text-align: left;
    margin-left: 30px;
    
}

#ativi input[type="checkbox"],
#turno input[type="radio"] {
    display: inline-block; 
    vertical-align: middle;
    margin-right: 8px; 
}

button[type="submit"] {
    margin-left: 540px;
    margin-top: 10px;
}
